<configuration>
    <system.web>
        <customErrors mode="Off"/>
		<globalization culture="zh-TW" uiCulture="zh-TW" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
    </system.web>
	<system.webServer>
	  <defaultDocument>
	    <files>
	      <clear />
	      <add value="index.aspx" />
	    </files>
	  </defaultDocument>
	</system.webServer>
</configuration>
